@model Product

<tr>
    <td>
        <img class="img-fluid" src="@Model.ImagePath" />
    </td>
    <td>
        @Model.Name
    </td>
    <td>
        @Model.FullDescription
    </td>
    <td>
        @Model.Price
    </td>
    <td>
        @Model.Category.Name
    </td>
    <td>
        <!-- <a asp-page="./Edit" asp-route-id="@Model.ProductID">Edit</a> |
        <a asp-route-id="@Model.ProductID">Select</a>
        <!--<a asp-page="./Delete" asp-route-id="@Model.ProductID">Delete</a> -->
    </td>
</tr>